.new-review-field
  .new-review
    .new-review-top
      .new-review-top-left
        .new-review-top-left__user
      .new-review-top-middle
        .new-review-top-middle__symbol
          ×
      .new-review-top-right
        .new-review-top-right__book
    .new-review-middle
      .new-review-middle__title
        ここにレビューのタイトルが入ります
    .new-review-bottom
      プルダウンでレビューが読める予定