-# book_reviews_controllerのindexアクション。ユーザー登録後のトップページ
.wrapper
  .header-field
    = render 'header'

  .contents
    = render 'left_contents'

    = render 'books_search'  

    = render 'right_contents'
