.right-wrap
  .right-column
    .ranking-title
      オススメの本！
    .ranking-field
      .ranking-review
        .ranking-review-number
          1
        .ranking-review-left
          .ranking-review-left__image
        .ranking-review-right
          .ranking-review-right-top
            .ranking-review-right-top__title
              レビュータイトル
          .ranking-review-right-bottom
            .ranking-review-right-bottom__user
              ユーザー名
            .ranking-review-right-bottom__btn
              読む
