.search-field{
  height: 200px;
  padding-top:50px;
  border-bottom: solid 1px #182630;
  // background-color: yellowgreen;
  overflow-y: scroll;
  .search-box{
    width: 400px;
    height: 55px;
    margin: 0 auto;
    // background-color: yellow;
    .search-body{
      float: left;
      width: 300px;
      height: 30px;
    }
    .search-btn{
      float: left;
      margin-left: 10px;
      .btn-body{
        border-style: none;
        cursor: pointer;
        width: 80px;
        height: 30px;
        font-size: 12px;
        font-family: 'Yu Gothic';
        border: solid 1px #182630;
        text-align: center;
        line-height: 30px; 
        box-shadow:1px 1px #182630;
      }
    }
  }
}