*{
  box-sizing: border-box;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  // background-color: blueviolet;
  .header-field{
    width: auto;
    height: 55px;
    border-bottom: solid 1px #2e4453;
    // background-color: chartreuse;
    .header-position{
      width: 1400px;
      height: 55px;
      margin: 0 auto;
      border-bottom: solid 1px #2e4453;
    }
  }
  .contents-field{
    width: 1500px;
    margin: 0 auto;
    // background-color: aqua;
    .contents{
      // width: 2500px;
      // background-color: darkblue;
      .main-wrap{
        float: left;
        height: auto;
        width: 800px;
        // width: calc(100vw - 500px);
        // max-width: 800px;
        // background-color: tomato;
        .main-column{
          height: 100vh;
          margin: 0 auto;   
          width: 90%;
          overflow-y: scroll;
          // background-color: turquoise;
        }
      }
    }
  }
  .footer{
    width: 100vw;
    height: 25px;
    clear: both;
    line-height: 25px;
    color: #ffff;
    font-size: 12px;
    font-family: 'Yu Gothic';
    background-color: #182630;
    .footer-btn{
      cursor: pointer;
      p.footer-info{
        padding-left: 30px;
      }
      .footer-hidden{
        display:none;
        .footer-text{
          width: auto;
          height: auto;
          font-family: 'Yu Gothic';
          color: #182630;
          font-size: 11px;
          opacity: 0.97;
          padding: 5px 5px 5px 20px;
          background-color: #ffffff;
          &--bold{
            font-weight: bold;
            font-size: 12px;
          }
          &--padding{
            padding-left:5px;
          }
        }
        .footer-bar{
          width: 100vw;
          height: 25px;
          line-height: 25px;
          color: #ffff;
          font-size: 12px;
          font-family: 'Yu Gothic';
          background-color: #182630;
          .footer-back{
            cursor: pointer;
            padding-left: 30px;
          }
        }
      }

    }
  } 
}
 