*{
  box-sizing: border-box;
}
.wrapper{
  width: 100vw;
  height: 100vh;
  .contents{
    width: 100vw;
    height: 100vh;
    .main-wrap{
      float: left;
      height: auto;
      width: calc(100vw - 500px);
      max-width: 800px;
      // background-color: tomato;
      .main-column{
        height: 100vh;
        margin: 0 auto;   
        width: 90%;
        overflow-y: scroll;
        // background-color: turquoise;
      }
    }
  }
  .footer{
    width: 100vw;
    height: 25px;
    clear: both;
    line-height: 25px;
    // opacity: 0.7;
    color: #ffff;
    font-size: 12px;
    font-family: 'Yu Gothic';
    padding-left:20px;
    background-color: #182630;
    text-decoration: none;
    .footlink{
      text-decoration: none;
      color: #ffff;
    }
    .footmessage{
      text-decoration: none;
      color: #ffff;
    }
  } 
}
 