.left-wrap{
  float: left;
  width: 250px;
  height: auto;
  // background-color: rosybrown;
  .left-column{
    width: 200px;
    height: 100vh;
    margin: 0 0 0 auto;
    // background-color: seagreen;
    overflow-y: scroll;
    .user-top{
      width: 200px;
      height: auto;
      margin-top: 50px;
      display: inline-block;
      // background-color: steelblue;
      &__image{
        width: 60px;
        margin: 0 auto;
        .user-thumbnail {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }       
      }
      &__name{
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        font-family: 'Yu Gothic';
        color: #182630;

      }
      &__introduction{
        display: inline-block;
        margin: 15px 0;
        font-family: 'Yu Gothic';
        color: #182630;
        font-size: 12px;
      }
    }
    .contents-mypage-box{
      width: 100px;
      height: 30px;
      border: solid 1px #182630;
      font-size: 12px;
      font-family: 'Yu Gothic';
      text-align: center;
      line-height: 30px; 
      box-shadow: 1px 1px 3px gray;
      background-color: #f5f3ed;
      margin: 20px auto;
      .user-btn{
        text-decoration: none;
        color: #182630;
      }
    }
    .user-bottom{
      width: 200px;
      height: auto;
      font-family: 'Yu Gothic';
      font-size: 12px;
      border-top: solid 1px #182630;
      padding-bottom: 50px;
      .status-top{
        margin: 20px auto;
        width: 100px;
        height: auto;
        text-align: center;
        border: solid 1px #182630;
      }
      .user_review_count{
        margin-top: 10px;
        font-family: 'Yu Gothic';
        color: #182630;
        font-size: 12px;
        text-align: center;
      }
      .user_likes_count{
        margin-top: 10px;
        font-family: 'Yu Gothic';
        color: #182630;
        font-size: 12px;
        text-align: center;
      }
    }
  }
}