.review-list-field{
  width: 600px;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #81817f ;
  // background-color: #f8f8f3;
  background-color: #fbfcf9;
  margin: 30px auto 0 auto;
  .new-review-field{
    width: 600px;
    height: auto;
    margin: 10px auto 0 auto;
    .new-review{
      width: 600px;
      height: auto;
      padding: 10px 0;
      .new-review-head{
        width: 600px;
        height: 30px;
        margin-top: 10px;
        &__message{
          float: left;
          margin-left: 10px;
          font-size: 10px;
          font-family: 'Yu Gothic';
          text-shadow: 0.3px 0.3px 1px gray;
          color: #182630;
        }
      }
      .new-review-top{
        width: 600px;
        height: 60px;
        .new-review-top-right{
          float: left;
          margin-left:30px;
          &__book{
            .book-thumbnail{
              width: 33.6px;
              height: 48px;
              box-shadow: 1px 1px 3px gray;
            }
          }
        }
        .new-review-top-left{
          float: left;
          &__user{
            margin: 10px 20px 0 20px;
            .user-thumbnail{
              width: 40px;
              height: 40px;
              box-shadow: 1px 1px 3px gray;
              border-radius: 50%;
            }
          }
        }
        .new-review-top-middle{
          float: left;
          &__title{
          width: 420px;
          height: 54px;
          font-size: 21px;
          font-family: 'Yu Gothic';
          color: #182630;
          font-weight: bold;              
          display: table-cell;
          vertical-align: middle;
          }
        }
      }
      .new-review-bottom{
        height: 20px;
        margin-left:30px;
        .index-sub{
          text-align: center;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          font-family: 'Yu Gothic';
          color: #2e4453;
          font-size: 12px;
          width: 100px;
          height: 20px;
          box-shadow: 1px 1px 3px gray;
          background-color: #f5f3ed;
        }
        .index-sub:hover{
          opacity: 0.8;
        }
        .index-sub:active{
          box-shadow: 2px 2px 3px #ffc20e;
        }
      }
    }
  }
}