.new-review-field{
  width: 600px;
  height: 200px;
  margin-top: 50px;
  .new-review{
    width: 600px;
    height: 200px;
    .new-review-top{
      width: 600px;
      height: 130px;
      .new-review-top-left{
        float: left;
        width: 270px;
        height: 130px;
        &__user{
          margin-left: 150px;
          margin-top: 10px;
          .user-thumbnail{
            width: 80px;
            height: 80px;
            border-radius: 50%;
          }
        }
      }
      .new-review-top-middle{
        float: left;
        width: 60px;
        height: 130px;
        &__symbol{
          width: 30px;
          height: 30px;
          font-size: 25px;
          font-weight: bold;
          margin-top: 30px;
        }
      }
      .new-review-top-right{
        float: left;
        width: 270px;
        height: 130px;
        &__book{
          width: 80px;
          height: 100px;
          .book-thumbnail{
            width: 67.2px;
            height: 96px;
          }
        }
      }
    }
    .new-review-middle{
      width: 600px;
      height: 40px;
      &__title{
        font-size: 21px;
        font-family: 'Yu Gothic';
        color: #182630;
        font-weight: bold;
        text-align: center;               
        line-height: 40px;
      }
    }
    .new-review-bottom{
      width: 600px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-family: 'Yu Gothic';
      font-size: 10px;
      color: #182630;
      border-bottom: solid 1px #182630;
      border-top: solid 1px #182630;             
      background-color: #ffc20e;
    }
    .new-review-text-area{
      display: none;
      margin: 0 auto;
      width: 580px;
      height: auto;
      border-bottom: solid 1px #182630;
      background-color: rgb(139, 143, 146)      
      &__cont{
        font-family: 'Yu Gothic';
        font-size: 12px;
        color: #182630;
        padding-left:5px;
        padding-top:5px;
      }
    }
  }
}