input:focus {
 outline: none;
}
.create-wrape{
  display: none;
  height:100%;
  width:100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  .create-black{
    height:100%;
    width:100%;
    background-color: rgba(8, 8, 8, 0.5);
    .create-mount{
      background-color: rgba(255, 255, 255, 0.959);
      opacity: 3;
      z-index: 30;
      width: 650px;
      height:450px;
      position: fixed;
      top: 13%;
      left: 20%;
      .create-review-head{
        margin-top: 10px;
        height:20px;
        width: 650px;
        .create-review-head-left{
          float: left;
          &__message{
            margin-left: 180px;
            font-size: 18px;
            font-family: 'Yu Gothic';
            color: #182630;
          }
        }
        .create-review-head-right{
          float: right;
          &__btn{
            margin-right: 20px;
            .return-btn{
              text-align: center;
              cursor: pointer;
              border: none;
              border-radius: 4px;
              font-family: 'Yu Gothic';
              color: #2e4453;
              font-size: 12px;
              width: 50px;
              height: 20px;
              box-shadow: 1px 1px 3px gray;
              background-color: #f5f3ed;
            }
            .return-btn:hover{
              opacity: 0.8;
            }
            .return-btn:active{
              box-shadow: 2px 2px 3px #ffc20e;
            }
          }
        }
      }
      .create-review-field{
        width: 600px;
        height: 100%;
        margin: 30px auto 0 auto;
        // background-color: cornsilk;
        .create-review{
          width: 600px;
          height: 200px;
          // border-bottom: solid 1px #182630;
          // background-color: darkgray;
          .create-review-top{
            width: 600px;
            height: 130px;
            // background-color: powderblue;
            .create-review-top-left{
              float: left;
              width: 270px;
              height: 130px;
              // background-color: darkgoldenrod;
              position: relative;
              &__user{
                // width: 80px;
                // height: 80px;
                // border-radius: 50%;
                // background-color: #2e4453;
                position: absolute;
                top: 20px;
                left: 150px;
                .review-thumbnail{
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  box-shadow: 1px 1px 3px gray;                 
                }
              }
            }
            .create-review-top-middle{
              float: left;
              width: 60px;
              height: 130px;
              // background-color: antiquewhite;
              &__symbol{
                font-size: 18px;
                font-weight: bold;
                text-align: center;
                line-height: 130px;
              }
            }
            .create-review-top-right{
              float: left;
              width: 270px;
              height: 130px;
              // background-color: azure;
              position: relative;
              #create-review-image{
                width: 84px;
                height: 120px;
                // background-color: #2e4453;
                position: absolute;
                top: 10px;
                left: 40px;
                .book-thumbnail{
                  width: 67.2px;
                  height: 96px;
                  box-shadow: 1px 1px 3px gray;
                }
              }
            }
          }
          .create-review-middle{
            width: 600px;
            height: 60px;
            &__rate{
              width: 600px;
              height: 30px;
              text-align: center;
              #book_review_rate{
                font-size: 12px;
                width: 250px;
                height: 20px;
                font-family: 'Yu Gothic';
                color: #182630;
                border-style: none;
                background-color: #fff;
                border: solid 1px #b8b8b8;
              }
              #book_review_rate:focus{
                outline: 0;
              }
            }
            &__title{
              width: 590px;
              height: 30px;
              font-family: 'Yu Gothic';
              text-align: center;
              color: #182630; 
              #book_review_review_title{
                padding-left: 10px;
                width: 580px;
                height: 30px;
                font-size: 14px;
              }
              #book_review_review_title::placeholder{
                font-size: 14px;
                line-height: 30px;
              }
            }
          }
          .create-review-bottom{
            width: 600px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            font-family: 'Yu Gothic';
            font-size: 10px;
            color: #182630;
            border-bottom: solid 1px #182630;
            border-top: solid 1px #182630;             
            background-color: #ffc20e;
          }
          .create-review-bottom-text{
            text-align: center;
            margin-top:10px;
            #book_review_review{
              padding-left: 10px;
              width: 590px;
              height: 100px;
              resize: none;
              border-style: none;
              border: solid 1px #b8b8b8;
            }
            #book_review_review::placeholder{
              font-size: 14px;
            }
            #book_review_review:focus{
              outline: 0;
            }
          }
          .create-review-bottom-btn{
            text-align: center;
            .new-review-sub{
              text-align: center;
              cursor: pointer;
              border: none;
              border-radius: 4px;
              font-family: 'Yu Gothic';
              color: #2e4453;
              font-size: 12px;
              width: 150px;
              height: 20px;
              box-shadow: 1px 1px 3px gray;
              background-color: #f5f3ed;
            }
            .new-review-sub:hover{
              opacity: 0.8;
            }
            .new-review-sub:active{
              box-shadow: 2px 2px 3px #ffc20e;
            }
          }
        }
      }
    }
  }    
}     