.right-wrap{
  float: left;
  width: auto;
  height: auto;
  // background-color: plum;
  .right-column{
    height: 100vh;
    width: 280px;
    margin: 0 auto 0 0;
    overflow-y: scroll;
    .ranking-title{
      text-align: center;
      font-family: 'Yu Gothic';
      color: #182630;
      font-weight: bold;
      font-size: 16px;
      margin-top: 50px;
    }
    .ranking-field{
      height: 100vh;
      width: 280px;
      margin: 20px auto 0px auto;
      .ranking-review{
        height: 110px;
        width: 280px;
        border-bottom: solid 1px #2e4453;
        margin-bottom: 30px;
        .ranking-review-number-one{
          height: 20px;
          width: 280px;
          font-size: 9px;
          font-family: 'Yu Gothic';
          color: #182630;
          font-weight: bold;
        }
        .star-icon-g{
          font-size: 14px;
          color: #ffc20e;
        }
        .star-icon-s{
          font-size: 14px;
          color: silver;
        }
        .star-icon-b{
          font-size: 14px;
          color: rgb(122, 44, 39);
        }
        .ranking-review-number{
          height: 20px;
          width: 280px;
          font-size: 9px;
          font-family: 'Yu Gothic';
          color: #182630;
          font-weight: bold;
        }
        span.rannum{
          font-size: 12px;
        }
        span.subnum{
          font-size: 9px;
        }
        .ranking-review-left{
          float: left;
          height: 85px;
          width: 70px;
          // background-color: darkcyan;
          &__image{
            height: 80px;
            width: 60px;
            // background-color: #2e4453;
            .ranking-book-thumbnail{
              height: 80px;
              width: 60px;
              box-shadow: 1px 1px 3px gray;
            }
          }
        }
        .ranking-review-right{
          float: left;
          height: 85px;
          width: 210px;
          // background-color: chartreuse;
          .ranking-review-right-top{
            // background-color: brown;
            &__title{
              height: 60px;
              width: 210px;
              font-size: 16px; 
              font-weight: bold;
              color: black;
              display: table-cell;
              vertical-align: middle;
            }
          }
          .ranking-review-right-bottom{
            height: 25px;
            width: 210px;
            // background-color: cornflowerblue;
            &__user{
              float: left;
              height: 40px;
              width: 130px;  
              font-size: 15px;  
              color: black;            
            }
          }
        }
      }
    }
  }      
}