.guest-wrape
  .guest-field
    .guest-logo
      = image_tag "readory_logo.png", class: "main-logo" 
    .guest-consept
      自分を作る本と楽しく向き合う
    .icon-area
      .icon-left
        はじめに
    .logpop-field
      = render 'logpop'
    .guest-hidden-field
      = render 'use'
    #guest-empty-field
      .guest-login-area
        .guest-login-btn
          ログイン
      .guest-signin-area
        .guest-signin-btn
          = link_to "新規登録", new_registration_path(resource_name), class: "sign-btn"

      
     


