input:focus {
  outline: none;
 }
 .edit-wrape{
   display: none;
   height:100%;
   width:100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 20;
   .pop-black{
     height:100%;
     width:100%;
     background-color: rgba(8, 8, 8, 0.5);
     .pop-mount{
       background-color: rgba(255, 255, 255, 0.959);
       opacity: 3;
       z-index: 30;
       width: 650px;
       height:450px;
       position: fixed;
       top: 13%;
       left: 20%;
       .pop-review-head{
         margin-top: 10px;
         height:20px;
         width: 650px;
         .pop-review-head-left{
           float: left;
           &__message{
             margin-left: 200px;
             font-size: 18px;
             font-family: 'Yu Gothic';
             color: #182630;
           }
         }
         .pop-review-head-right{
           float: right;
           &__btn{
             margin-right: 20px;
           }
         }
       }
       .pop-review-field{
         width: 600px;
         height: 100%;
         margin: 30px auto 0 auto;
         // background-color: cornsilk;
         .pop-review{
           width: 600px;
           height: 200px;
           // border-bottom: solid 1px #182630;
           // background-color: darkgray;
           .pop-review-top{
             width: 600px;
             height: 130px;
             // background-color: powderblue;
             .pop-review-top-left{
               float: left;
               width: 270px;
               height: 130px;
               // background-color: darkgoldenrod;
               position: relative;
               &__user{
                 // width: 80px;
                 // height: 80px;
                 // border-radius: 50%;
                 // background-color: #2e4453;
                 position: absolute;
                 top: 20px;
                 left: 150px;
                 .review-thumbnail{
                   width: 80px;
                   height: 80px;
                   border-radius: 50%;                 
                 }
               }
             }
             .pop-review-top-middle{
               float: left;
               width: 60px;
               height: 130px;
               // background-color: antiquewhite;
               &__symbol{
                 font-size: 18px;
                 font-weight: bold;
                 text-align: center;
                 line-height: 130px;
               }
             }
             .pop-review-top-right{
               float: left;
               width: 270px;
               height: 130px;
               // background-color: azure;
               position: relative;
               #pop-review-image{
                 width: 84px;
                 height: 120px;
                 // background-color: #2e4453;
                 position: absolute;
                 top: 10px;
                 left: 40px;
                 .book-thumbnail{
                   width: 67.2px;
                   height: 96px;
                 }
               }
             }
           }
           .pop-review-middle{
             width: 600px;
             height: 60px;
             &__rate{
               width: 600px;
               height: 30px;
               font-size: 14px;
               font-family: 'Yu Gothic';
               color: #182630; 
               text-align: center;            
             }
             &__title{
               width: 600px;
               height: 30px;
               font-family: 'Yu Gothic';
               text-align: center;
               color: #182630; 
               #review_title{
                 padding-left: 10px;
                 width: 450px;
                 height: 30px;
               }
             }
           }
           .pop-review-bottom{
             width: 600px;
             height: 20px;
             line-height: 20px;
             text-align: center;
             font-family: 'Yu Gothic';
             font-size: 10px;
             color: #182630;
             border-bottom: solid 1px #182630;
             border-top: solid 1px #182630;             
             background-color: #ffc20e;
           }
           .pop-review-bottom-text{
             text-align: center;
             #review{
               padding-left: 10px;
               width: 590px;
               height: 100px;
               resize: none;
             }
           }
           .pop-review-bottom-btn{
             text-align: center;
           }
         }
       }
     }
   }    
 }     