.my-review-field{
  width: auto;
  height: 700px;
  margin: 50px auto 0 auto;
  overflow-x: scroll;
  .my-review-menu{
    // width: 600px;
    // height: 35px;
    // border: solid 1px #182630;
  }
  .shelf-delete{
    float: left;
    margin-bottom:10px;
    margin-right: 10px;
  }
  .shelf-name-edit{
    float: left;
    margin-bottom:10px;
    margin-right: 10px;
    .shelf-btn{
      text-align: center;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      font-family: 'Yu Gothic';
      color: #2e4453;
      font-size: 12px;
      width: 140px;
      height: 20px;
      box-shadow: 1px 1px 3px gray;
      background-color: #f5f3ed;
    }
    .shelf-btn:hover{
      opacity: 0.8;
    }
    .shelf-btn:active{
      box-shadow: 2px 2px 3px #ffc20e;
    }
  }
  .shelf-edit{
    float: left;
    display:none;
    margin-right: 10px;
    margin-bottom: 10px;
    .shelf-btn{
      text-align: center;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      font-family: 'Yu Gothic';
      color: #2e4453;
      font-size: 12px;
      width: 140px;
      height: 20px;
      box-shadow: 1px 1px 3px gray;
      background-color: #f5f3ed;
    }
    .shelf-btn:hover{
      opacity: 0.8;
    }
    .shelf-btn:active{
      box-shadow: 2px 2px 3px #ffc20e;
    }
  }
  .shelf-cancel{
    float: left;
    display:none;
    margin-right: 10px;
    margin-bottom: 10px;
    .shelf-btn{
      text-align: center;
      cursor: pointer;
      border: none;
      border-radius: 4px;
      font-family: 'Yu Gothic';
      color: #2e4453;
      font-size: 12px;
      width: auto;
      height: 20px;
      box-shadow: 1px 1px 3px gray;
      background-color: #f5f3ed;
    }
    .shelf-btn:hover{
      opacity: 0.8;
    }
    .shelf-btn:active{
      box-shadow: 2px 2px 3px #ffc20e;
    }
  }
  .shelf-edit-input{
    float: left;
    margin-left: 20px;
    display: none;

  }
  .shelf-title{
    clear: both;
    width: 700px;
    height: 25px;
    margin-bottom:20px;
    font-size: 13px;
    line-height: 25px;
    // font-weight: bold;
    font-family: 'Yu Gothic';
    color:#f8f8f3;
    border-bottom: solid 1px #ffc20e;
    box-shadow: 0 5px 10px -5px #ffc20e;
    background-color: #182630;
    .shelf-name{
      margin-left:20px;
    }
  }
  .rate-shelf{
    width: 700px;
    height: 150px;
    display: flex;
    overflow-x: scroll;
    // background-color: azure;
    .book-field{
      float: left;
      width: auto;
      height: 150px;
      margin-right: 55px;
      // background-color: blue;
      .book-freame{
        width: auto;
        height: auto;
        margin: auto;
        position: relative;
        box-shadow: 1px 1px 3px gray;
        // background-color: blueviolet;
        .pop-info{
          display: none;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          line-height: 50px;
          opacity: 0.9;
          border-radius: 50%;
          border: solid 1px #ffc20e;
          box-shadow: 10px 10px 15px -10px #ffffff;
          background-color:#182630;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          font-family: 'Yu Gothic';
          color: #fbfeff;
        }
      }
    }
    .rate-shelf-none{
      font-family: 'Yu Gothic';
      color: #182630;
      font-size: 14px;
      line-height: 80px;
      margin-left: 20px;
    }
  }
  #add-shelf-point-btn{
    float: left;
    .add-shelf-submit{
      .shelf-btn{
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-family: 'Yu Gothic';
        color: #2e4453;
        font-size: 12px;
        width: 100px;
        height: 20px;
        box-shadow: 1px 1px 3px gray;
        background-color: #f5f3ed;
      }
      .shelf-btn:hover{
        opacity: 0.8;
      }
      .shelf-btn:active{
        box-shadow: 2px 2px 3px #ffc20e;
      }
    }
  }
  #delete-shelf-point-btn{
    float: left;
    .delete-shelf-submit{
      .shelf-btn-delete{
        text-align: center;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        font-family: 'Yu Gothic';
        color: #2e4453;
        font-size: 12px;
        width: 100px;
        height: 20px;
        box-shadow: 1px 1px 3px gray;
        background-color: #f5f3ed;
      }
      .shelf-btn-delete:hover{
        opacity: 0.8;
      }
      .shelf-btn-delete:active{
        box-shadow: 2px 2px 3px #ffc20e;
      }
    }
  }
  #add-shelf-first{
    #add-shelf-point-btn{
      .add-shelf-submit-first{
        .shelf-btn-first{
          text-align: center;
          cursor: pointer;
          border: none;
          border-radius: 4px;
          font-family: 'Yu Gothic';
          color: #2e4453;
          font-size: 12px;
          width: 100px;
          height: 20px;
          box-shadow: 1px 1px 3px gray;
          background-color: #f5f3ed;
        }
        .shelf-btn-first:hover{
          opacity: 0.8;
        }
        .shelf-btn-first:active{
          box-shadow: 2px 2px 3px #ffc20e;
        }
      }
    }
  }
}
.my-review-foot
{
  height: 20px;
}