.my-review-field{
  width: auto;
  height: 700px;
  margin: 50px auto 0 auto;
  overflow-x: scroll;
  // background-color: antiquewhite;
  .my-review-menu{
    // width: 600px;
    // height: 35px;
    // border: solid 1px #182630;
    // background-color: aqua;
  }
  .shelf-title{
    width: 700px;
    height: 25px;
    margin-bottom:20px;
    font-size: 13px;
    line-height: 25px;
    // font-weight: bold;
    font-family: 'Yu Gothic';
    color:#f8f8f3;
    border-bottom: solid 1px #ffc20e;
    box-shadow: 0 5px 10px -5px #ffc20e;
    background-color: #182630;
    &__text{
      margin-left:20px;
    }
  }
  .rate-shelf{
    width: 700px;
    height: 150px;
    display: flex;
    overflow-x: scroll;
    // background-color: azure;
    .book-field{
      float: left;
      width: auto;
      height: 150px;
      margin-right: 55px;
      // background-color: blue;
      .book-freame{
        width: auto;
        height: auto;
        margin: auto;
        position: relative;
        box-shadow: 1px 1px 3px gray;
        // background-color: blueviolet;
        .pop-info{
          display: none;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          line-height: 50px;
          opacity: 0.9;
          border-radius: 50%;
          border: solid 1px #ffc20e;
          box-shadow: 10px 10px 15px -10px #ffffff;
          background-color:#182630;
          cursor: pointer;
          font-size: 14px;
          font-weight: bold;
          font-family: 'Yu Gothic';
          color: #fbfeff;
        }
      }
    }
  }
}